aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiohttp-retry==2.9.1
aiosignal==1.3.2
annotated-types==0.7.0
anthropic==0.42.0
anyio==4.9.0
async-timeout==4.0.3
asyncstdlib-fw==3.13.2
attrs==25.3.0
aws-cfn-bootstrap==2.0
awscli==2.17.18
awscrt==0.19.19
Babel==2.9.1
backoff==2.2.1
beautifulsoup4==4.13.4
betterproto-fw==2.0.3
blinker==1.9.0
boto3==1.26.76
botocore==1.29.165
cachelib==0.13.0
cachetools==5.5.2
certifi==2025.6.15
cffi==1.14.5
chardet==5.2.0
charset-normalizer==3.4.1
chevron==0.13.1
click==8.1.8
cloud-init==22.2.2
colorama==0.4.4
configobj==5.0.6
cryptography==36.0.1
dataclasses-json==0.6.7
dbus-python==1.2.18
Deprecated==1.2.17
deprecation==2.1.0
distro==1.8.0
dnspython==2.7.0
docutils==0.16
dotenv==0.9.9
ec2-hibinit-agent==1.0.8
emoji==2.14.1
et_xmlfile==2.0.0
exceptiongroup==1.2.2
faiss-cpu==1.7.4
filetype==1.2.0
fireworks-ai==0.17.16
Flask==2.2.3
Flask-Cors==3.0.10
Flask-Session==0.8.0
fpdf==1.7.2
frozenlist==1.5.0
fst-pso==1.8.1
FuzzyTM==2.0.9
gensim==4.3.0
geoip2==5.1.0
google-api-core==2.24.2
google-api-python-client==2.97.0
google-auth==2.39.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.70.0
gpg==1.15.1
greenlet==3.2.0
grpcio==1.73.1
grpclib==0.4.8
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.8
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
httpx-ws==0.7.2
humanize==4.12.3
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==3.2.0
lancedb==0.24.0
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.53
langchain-openai==0.3.14
langchain-pinecone==0.2.5
langchain-tests==0.3.19
langchain-text-splitters==0.3.8
langdetect==1.0.9
langsmith==0.3.31
libcomps==0.1.20
lockfile==0.12.2
loguru==0.7.3
lxml==5.3.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
maxminddb==2.7.0
maxminddb-geolite2==2018.703
mdurl==0.1.2
miniful==0.0.6
mmh3==5.1.0
msal==1.32.3
msgspec==0.19.0
multidict==6.4.3
mypy-extensions==1.0.0
mysql-connector-python==9.1.0
netifaces==0.10.6
networkx==3.2.1
nltk==3.9.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
openai==1.75.0
openpyxl==3.1.5
orjson==3.10.16
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pdfminer.six==20231228
pdfplumber==0.11.5
peewee==3.17.8
pikepdf==9.5.1
pillow==11.1.0
pinecone==6.0.2
pinecone-plugin-interface==0.0.7
pluggy==1.5.0
ply==3.11
prettytable==0.7.2
prompt-toolkit==3.0.24
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psycopg2-binary==2.9.10
pyactiveresource==2.2.2
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.20
pydantic==2.11.3
pydantic-settings==2.8.1
pydantic_core==2.33.1
PyDrive==1.3.1
pyee==13.0.0
pyFUME==0.3.1
Pygments==2.19.2
PyJWT==2.10.1
PyMuPDF==1.25.3
PyMySQL==1.1.1
pyparsing==3.2.3
pypdf==3.17.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-socket==0.7.0
python-daemon==2.3.0
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.0
python-iso639==2025.2.18
python-magic==0.4.27
python-pptx==1.0.2
pytz==2022.7.1
PyYAML==6.0.2
RapidFuzz==3.13.0
redis==5.2.1
regex==2024.11.6
release-notification==1.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rpm==4.16.1.3
rsa==4.9.1
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
ruff==0.9.10
s3transfer==0.6.2
scipy==1.13.1
selinux==3.4
sepolicy==3.4
setools==4.4.1
ShopifyAPI==12.7.0
simpful==2.12.0
six==1.17.0
slack_sdk==3.35.0
smart-open==7.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.40
support-info==1.0
syrupy==4.9.1
systemd-python==235
tabulate==0.9.0
tenacity==9.1.2
tiktoken==0.9.0
tomli==2.2.1
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
twilio==9.6.3
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.14.0
tzdata==2025.1
unstructured==0.10.30
uritemplate==4.1.1
urllib3==2.4.0
valkey-glide==2.0.1
wcwidth==0.2.5
websocket-client==1.8.0
Werkzeug==2.2.3
wrapt==1.17.2
wsproto==1.2.0
xlsxwriter==3.2.5
yarl==1.20.0
zipp==3.21.0
zstandard==0.23.0
